/*fonts*/
@font-face {
  font-family: "barlow-light";
  src: url("fonts/BarlowCondensed-Light.ttf") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "barlow-regular";
  src: url("fonts/BarlowCondensed-Regular.ttf") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "barlow-semiBold";
  src: url("fonts/BarlowCondensed-SemiBold.ttf") format("woff");
  font-weight: normal;
  font-style: normal;
}

:root {
  --light: "barlow-light";
  --regular: "barlow-regular";
  --semiBold: "barlow-semiBold";
  --background-light: #fcf7f0;
  --section-background: #f1e5d3;
  --yellow: #fcce72;
  --light-green: #849478;
  --red: #d1785a;
  --brown: #3c100a;
  --dark-green: #2f4b23;
  --red-taps: #e26133;
  --dark-grey: #424242;
  --light-grey: #8b8b8b;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
  background-color: var(--background-light);
}

/*header*/

.header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin: 5px;
  height: 7vh;
}

#logo {
  width: 15vw;
  height: 6vw;
  background-size: contain;
  background-repeat: no-repeat;
}

.light-logo {
  background-image: url(./img/icons/logo.png);
}

.dark-logo {
  background-image: url(./img/icons/FooBar-logo2.png);
}

#switch {
  width: 6vw;
  height: 3vw;
  background-size: contain;
  background-repeat: no-repeat;
}

.light-mode {
  background-image: url(./img/icons/switch.png);
}

.dark-mode {
  background-image: url(./img/icons/FooBar-switch2.png);
}

/*main*/

.main {
  display: grid;
  grid-template-columns: 3fr 1fr;
  height: 80vh;
  margin-top: 5vh;
  margin-bottom: 5vh;
}

/*menu*/

.categories {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
}

.categories h2 {
  font-family: var(--light);
  color: var(--dark-grey)
}

.category {
  display: flex;
  column-gap: 10px;
  align-items: center;
  justify-content: center;
}

#arrow {
  width: 1.5vw;
  height: 1.5vw;
  margin-top: 10px;
  background-size: contain;
  background-repeat: no-repeat;
}

.down {
  background-image: url(./img/icons/arrow-down.svg);
}

.down-darkmode {
  background-image: url(./img/icons/arrow-down-darkmode.svg);
}

.up {
  background-image: url(./img/icons/arrow-up.svg);
}

.up-darkmode {
  background-image: url(./img/icons/arrow-up-darkmode.svg);
}

#arrow2 {
  width: 1.5vw;
  height: 1.5vw;
  background-size: contain;
  background-repeat: no-repeat;
}

.down2 {
  background-image: url(./img/icons/arrow2-down.svg);
}

.down2-darkmode {
  background-image: url(./img/icons/arrow2-down-darkmode.svg);
}

.up2 {
  background-image: url(./img/icons/arrow2-up.svg);
}

.up2-darkmode {
  background-image: url(./img/icons/arrow2-up-darkmode.svg);
}

#beer-types-elements {
  display: flex;
  flex-direction: row;
  list-style: none;
  column-gap: 30px;
  margin-top: 15px;
  font-family: var(--light);
  width: 75vw;
  justify-content: center;
  font-size: 1.7vw;
  color: var(--dark-grey)
}

.hidden {
  visibility: hidden;
}

/*product list*/

#products {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 2vw;
  margin-left: 2vw;
  flex-wrap: wrap;
  row-gap: 40px;
}

.product {
  flex-basis: 20%;
}

.square {
  width: 10vw;
  height: 10vw;
  border-radius: 10px;
}

#products  :nth-child(3n + 1) .square {
  background-color: var(--yellow);
}

#products  :nth-child(3n + 2) .square {
  background-color: var(--light-green);
}

#products  :nth-child(3n + 3) .square {
  background-color: var(--red);
}

.square-content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10vw;
  height: 10vw;
  column-gap: 5px;
  margin-left: 30px;
}

.square #text {
  color: var(--brown);
  width: 10vw;
  margin-left: -20px;
}

.square #text h3 {
  font-family: var(--regular);
}

.square #text p {
  font-family: var(--light);
}

.square img {
  height: 13vw;
}

.buttons {
  display: flex;
  width: 11vw;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
  column-gap: 1vw;
}

.buttons button {
  background: transparent;
  border-left: none;
  border-right: none;
  border-bottom: none;
  width: 5vw;
  font-family: var(--regular);
  font-size: 1.3vw;
  cursor: pointer;
}

.button-darkmode {
  border-top: 2px solid var(--background-light);
  color: var(--background-light);
}

.button-lightmode {
  border-top: 2px solid var(--dark-grey);
  color: var(--dark-grey);
}

/*order*/

#open-order {
  display: none;
}

#order {
  background-color: var(--section-background);
  border-radius: 15px;
  margin-right: 2vw;
  padding-top: 1vw;
  padding-bottom: 1vw;
  width: 24vw;
}

#order h1 {
  font-family: var(--semiBold);
  text-transform: uppercase;
  font-size: 2.5vw;
  text-align: center;
  color: var(--dark-grey);
  margin-bottom: 30px;
}

.your-products {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  max-height: 50vh;
  overflow: auto;
  scrollbar-width: thin;
  scrollbar-color: var(--dark-grey) var(--light-grey);
  margin-right: 5px;
  background-color: var(--background-light);
  width: 20vw;
  margin-left: 2vw;
  padding-top: 1vw;
  padding-bottom: 1vw;
  border-radius: 10px;
  
}

.your-product {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  column-gap: 20px;
}

.product-details {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.details {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}

.your-product .bottle {
  height: 10vw;
}

.your-product h3 {
  font-family: var(--regular);
  color:var(--brown);
}

.your-product p {
  font-family: var(--light);
  color: var(--brown);
}

.your-product .close {
  height: 1vw;
}

.amount {
  display: flex;
  column-gap: 0.7vw;
  align-items: center;
  justify-content: center;
}

.amount p {
  color: var(--dark-grey);
  font-family: var(--semiBold);
}

.amount button {
  background: transparent;
  border: none;
  color: var(--dark-grey);
  font-family: var(--semiBold);
  font-size: 1.5vw;
}

.total {
  font-family: var(--regular);
  font-size: 2vw;
  color: var(--dark-grey);
  text-align: center;
  margin-top: 30px;
}

.total span {
  font-family: var(--semiBold);
}

.order-buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 40px;
  margin-left: 30px;
  margin-right: 30px;
}

.order-buttons button {
  background: transparent;
  border-left: none;
  border-right: none;
  border-bottom: none;
  width: 7vw;
  font-family: var(--semiBold);
  font-size: 1.5vw;
  cursor: pointer;
}

/*pop-up*/

.pop-up {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70vw;
  height: 80vh;
  background-color: var(--background-light);
  border-radius: 15px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  filter: drop-shadow(2px 2px 2px var(--dark-grey));
}

.beer-bg {
  display: flex;
  flex-direction: column;
  row-gap: 2vw;
  justify-content: center;
  height: 80vh;
}

.beer-bg::after {
  position: absolute;
  content: ' ';
  display: block;
  width: 50%;
  height: 100%;
  background-image: url(./img/beer.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.5;
  border-radius: 15px;
  z-index: -1;
}

.beer-dark::after {
  opacity: 0.75;
}

.beer-bg h1 {
  font-family: var(--semiBold);
  color: var(--dark-grey);
  margin-top: 2vw;
  margin-left: 2vw;
  font-size: 3.5vw;
}

.name-price h2 {
  padding-bottom: 1vw;
  font-family: var(--regular);
  color: var(--dark-grey);
  width: 6vw;
}

.name-price {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 28vw;
}

.beer-bg hr {
  width: 25vw;
  margin-left: 2vw;
  color: var(--dark-grey);
}

.beer-bg .icons  {
  display: flex;
  column-gap: 2vw;
  margin-left: 2vw;
}

.icon {
  align-items: center;
  column-gap: 1vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#bottle-icon {
  width: 7vw;
  height: 7vw;
  background-size: contain;
  background-repeat: no-repeat;
  grid-column-start: 1;
  grid-row-start: 1;
}

#bottle-text {
  grid-column-start: 1;
  grid-row-start: 1;
  color:var(--section-background);
  font-family: var(--light);
  text-align: center;
  margin-top: 1.2vw;
  margin-right: 0.2vw;
  font-size: 1.2vw;
}

#circle-text {
  grid-column-start: 1;
  grid-row-start: 1;
  color:var(--section-background);
  font-family: var(--light);
  text-align: center;
  margin-right: 0.2vw;
  font-size: 1.2vw;
}

#circle-icon {
  grid-column-start: 1;
  grid-row-start: 1;
  width: 4vw;
  height: 4vw;
  background-size: contain;
  background-repeat: no-repeat;
  grid-row-start: 1;
}

.bottle-icon-lightmode {
  background-image: url(./img/icons/bottle.svg);
}

.bottle-icon-darkmode {
  background-image: url(./img/icons/bottle-darkmode.svg);
}

.circle-icon-lightmode {
  background-image: url(./img/icons/circle.svg);
}

.circle-icon-darkmode {
  background-image: url(./img/icons/circle-darkmode.svg);
}



.icons h3 {
  font-family: var(--regular);
  color: var(--dark-grey);
}

.beer-bg #bottle-icon {
  width: 2vw;
}

.beer-bg #circle-icon {
  width: 4.5vw;
}

.info1 {
  display: flex;
  flex-direction: column;
  margin-left: 2vw;
  row-gap: 1vw;
}

.info2 {
  display: flex;
  flex-direction: column;
  row-gap: 1vw;
  max-height: 70vh;
}

.info1 h2, .info2 h2 {
  font-family: var(--semiBold);
  color: var(--dark-grey);
}

.pop-up h2 span {
  font-family: var(--light);
}

.info1 p, .info2 p {
  font-family: var(--light);
  color: var(--dark-grey);
  width: 20vw;
  font-size: 1.2vw;
}

.bottle-img {
  background-image: url(./img/bottles/elhefe.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 15vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(10deg);
}

.plain-bg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 7vw;
}

.dark::after {
  content: ' ';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;
  opacity: 0.7;
}

#close-popup {
  position: absolute;
  width: 2vw;
  height: 2vw;
  top: 2vw;
  right: 2vw;
  cursor: pointer;
  background-size: contain;
  background-repeat: no-repeat;
}

.close-lightmode {
  background-image: url(./img/icons/close.svg);
}

.close-darkmode {
  background-image: url(./img/icons/close-darkmode.svg);
}

/*mobile view*/

@media only screen and (max-width: 767px) {

  body {
    overflow-y: auto;
  }

  #logo {
    width: 40vw;
    height: 20vw;
  }

  #switch {
    display: none;
  }

  /*header*/

  .header {
    justify-content: center;
  }

  #arrow {
    width: 4vw;
    height: 4vw;
  }

  #arrow2 {
    width: 4vw;
    height: 4vw;
  }

  #beer-types-elements {
    flex-direction: column;
    z-index: 1;
    background-color: var(--section-background);
    font-size: 4.5vw;
    margin-left: 59px;
    width: 29.5vw;
    padding: 10px;
    position: absolute;
    margin-top: -0.3vw;
  }

  /*main*/

  .main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3fr 1fr; 
    height: 90vh;
    margin-top: 30px;
  }

  #products {
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    width: 90vw;
    margin-left: 5vw;
    margin-right: 5vw;

  }
  
  .product {
    flex-basis: 50%;
    width: 45vw;
  }

  .square {
    width: 30vw;
    height: 30vw;
  }
  
  .square-content {
    width: 30vw;
    height: 30vw;
    column-gap: 5px;
    margin-left: 30px;
  }

  .square #text {
    width: 15vw;
    margin-left: -25px;
  }
  
  .square #text h3 {
    font-family: var(--regular);
  }
  
  .square #text p {
    font-family: var(--light);
  }
  
  .square img {
    height: 38vw;
  }
  
  .buttons {
    display: flex;
    width: 32vw;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
    column-gap: 1vw;
  }
  
  .buttons button {
    background: transparent;
    border-left: none;
    border-right: none;
    border-bottom: none;
    border-top: 2px solid var(--dark-grey);
    width: 14vw;
    font-family: var(--regular);
    color: var(--dark-grey);
    font-size: 3.5vw;
    cursor: pointer;
  }

  /*order*/

  #order {
    margin-top: 30px;
    padding-top: 20px;
    background-color: var(--section-background);
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 20vh;
    border-top: 1px solid var(--light-grey);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  #order h1 {
    font-size: 8vw;
    margin-bottom: 10px;
  }

  .your-products {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90vw;
    background-color: inherit;
  }

  .your-product {
    padding-top: 3vh;
    padding-bottom: 3vh;
    width: 90vw;
  }

  .your-product .product-details {
    width: 90vw;
    align-items: center;
  }

  .your-product .product-details img {
    width: 20vw;
    height: auto;
  }

  .amount {
    justify-content: flex-start;
    column-gap: 2vw;
  }

  .amount button {
    font-size: 5vw;
  }

  .total {
    margin-top: 0px;
    font-size: 6vw;
    padding-bottom: 20px;
  }

  .order-buttons {
    display: none;
  }

  #open-order {
    display: flex;
    justify-content: center;
    width: 8vw;
    height: 8vw;
    transform: translateX(46vw);
  }

  .order-up {
    background-image: url(./img/icons/arrow-up.svg);
    background-repeat: no-repeat;
    background-size: contain;
  }

  .order-down {
    background-image: url(./img/icons/arrow-down.svg);
    background-repeat: no-repeat;
    background-size: contain;
  }

  .your-product .close {
    width: 4vw;
    height: 4vw;
  }

  /*pop-up*/

  .pop-up {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    row-gap: 5vw;
    padding-top: 35vw;
    border-radius: 0;
    position: fixed;
    overflow-y: auto;
    padding-bottom: 30vh;
  }

  .beer-bg {
    background-color: var(--background-light);
    justify-content: flex-start;
    row-gap: 5vw;
    margin-top: 5vw;
    margin-left: 5vw;
    height: auto;
  }

  .beer-bg::after {
    background-image: none;
    height: 0;
  }

  .name-price h1 {
    font-size: 7vw;
    position: absolute;
    left: 50%;
    transform: translateX(-75%);
    top: 5vw;
    z-index: 1;
    color: var(--brown);
    font-family: var(--regular);
    width: 20vw;
  }

  .name-price h2 {
    color: var(--brown);
    font-size: 4vw;
    font-family: var(--light);
    z-index: 1;
    position: absolute;
    left: 44%;
    transform: translateX(-65%);
    top: 28vw;
    width: 10vw;
  }

  .bottle-container {
    width: 30vw;
    height: 30vw;
    background-color: var(--yellow);
    position: absolute;
    top: 5vw;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 10px;
  }

  .bottle-img {
    top: -1vw;
    left: 22vw;
    transform: none;
  }

  .beer-bg .icons {
    column-gap: 5vw;
    margin-bottom: 2vw;
  }

  .beer-bg #bottle-icon {
    width: 5vw;
    height: 18vw;
    background-size: contain;
  }

  .beer-bg #bottle-text {
    font-size: 3vw;
    width: 5vw;
    height: 15vw;
    padding-top: 5vw;
  }

  .beer-bg #circle-icon {
    width: 10vw;
    height: 10vw;
  }

  .beer-bg #circle-text {
    font-size: 3vw;
    width: 10vw;
    height: 10vw;
    padding-top: 3vw;
  }

  .pop-up p {
    width: 90%;
  }

  .pop-up hr {
    color: transparent;
  }

  .plain-bg {
    margin-left: 7vw;
  }

  .info1 {
    row-gap: 5vw;
  }

  .info1 p {
    font-size: 4vw;
  }

  .info2 {
    row-gap: 5vw;
  }

  .info2 p {
    font-size: 4vw;
  }

  #close-popup {
    width: 5vw;
    height: 5vw;
    top: 3vw;
    right: 3vw;
  }
}